@import "/src/App/styles/vars.scss";

.article {
    padding-top: 20px;
    text-align: left;
    display: flex;
    width: 350px;
    flex-direction: column;
    &:first-child {
        margin-right: 30px;
    }
    @media screen and (max-width: $tablet-width) {
        padding-top: 0px;
        width: 100%;
    }
}

.info_block {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.title {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.edit_button {
    margin-left: 50px;
    background-color: var(--color-dark-green);
    border: 2px solid var(--color-dark-green);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: var(--color-text-light);
    transition: 0.3s;
    &:hover {
        background-color: var(--color-orange);
        border: 2px solid var(--color-orange);
        transition: 0.3s;
    }
    @media screen and (max-width: $tablet-width) {
        margin-left: 100px; 
    }
}

.edit_button_icon {
    margin-right: 5px;
}

.label {
    margin-bottom: 5px;
}

.text{
    padding: 5px 0 5px 5px;
    border: 2px solid var(--color-background-main-block);
    width: 250px;
    font-family: inherit;
    font-size: inherit;
    height: 30px;
    width: 100%;
    &:focus {
        border: 2px solid var(--color-green);
        outline: none;
    }
}

.input{
    padding: 5px 0 5px 5px;
    border: 2px solid var(--color-dark-green);
    width: 250px;
    font-family: inherit;
    font-size: inherit;
    height: 30px;
    background-color: var(--color-background-main-block);
    animation: blink .5s 3;
    width: 100%;
    &:focus {
        border: 2px solid var(--color-dark-green);
        outline: none;
    }
}

@keyframes blink {
    50% {
      border-color: var(--color-background-main-block);
    }
}


.edit_buttons_container {
    display: flex;
    margin-bottom: 15px;
    margin-top: 40px;
    .edit_button {
        margin: 0 10px 0 0;
    }
}

.password_input_block {
    position: relative;
}

.password_button {
    background-color: inherit;
    border: none;
    position: absolute;
    top: 3px;
    right: 110px;
}

.password_icon {
   width: 20px;
   height: 20px;
}

.error {
  color: var(--color-error);
  font-size: 14px;
  position: absolute;
  width: 100%;
  top: 55px;
}
  
.error::before {
  display: inline;
  content: '⚠ ';
}

.input_block {
  position: relative;
}
