.article {
    padding-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    &:first-child {
        margin-right: 30px;
    }
}

.icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.title {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.edit_button {
    margin-left: 50px;
    background-color: var(--color-background-main-block);
    border: 2px solid var(--color-background-main-block);
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.edit_button_icon {
    margin-right: 5px;
}

.info_block {
    margin-bottom: 20px;
}

.label {
    margin-bottom: 5px;
}

.text{
    padding: 5px 0 5px 5px;
    border: 2px solid var(--color-background-main-block);
    width: 250px;
}