.catalog {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  column-gap: 0.4rem;
  padding: 2rem 1rem ;
  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}
.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 410px;
  column-gap: 1rem;
  row-gap: 2rem;
}

.pagination {
  align-self: end;
  margin-right: 1rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}
