@import '/src/App/styles/vars.scss';

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--color-dark);;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  color: var(--color-light-green);
  font-weight: normal;
  background: var(--color-background-container);
  top: -15px;
  z-index: 1;
  padding: 0 10px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_main {
  background-image: var(--color-background-main-image);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  @media screen and (max-width: $tablet-width) {
    display: flex;
    justify-content: center;
    height: 400px;
  }
  @media screen and (max-width: $mobile-width) {
    height: 350px;
  }
}

.main_text_block {
  cursor: default;
  align-self: center;
  position: absolute;
  left: 45px;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  @media (max-width: $medium_width) {
    left: 0;
  }
  @media screen and (max-width: $tablet-width) {
    background-color: var(--color-background-text-block-light);
    position: static;
    width: 55vw;
    height: 35vw;
    align-items: center;
    color: var(--color-text-light);
  }
  @media screen and (max-width: $mobile-width) {
  }
}

.text_bold {
  line-height: 1.2;
  font-size: calc(23px + (70 - 23) * ((100vw - 320px) / (1920 - 320)));
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 3%;
  @media (max-width: $medium_width) {
    margin-left: 0;
  }
  @media screen and (max-width: $tablet-width) {
    font-size: calc(18px + (70 - 23) * ((100vw - 320px) / (1920 - 320)));
  }

  @media screen and (max-width: $mobile-width) {
    margin-bottom: 10px;
    font-size: calc(16px + (70 - 23) * ((100vw - 320px) / (1920 - 320)));
  }
}

.text_normal {
  line-height: 1.2;
  font-size: calc(14px + (70 - 23) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 30px;
  margin-left: 15%;
  @media (max-width: $medium_width) {
    margin-left: 10%;
    line-height: 1;
  }
  @media screen and (max-width: $tablet-width) {
    margin-bottom: 10px;
    margin-left: 0;
    line-height: 1;
  }
 
}

.text_small {
  letter-spacing: 10px;
  font-size: 20px;
  line-height: 22px;
  margin-left: 10vw;
  margin-bottom: 30px;
  @media (max-width: $medium_width) {
    margin-left: 5vw;
  }
  @media screen and (max-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 6px;
  }
  @media screen and (max-width: $mobile-width) {
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 3px;
  }
}

.link {
  margin-left: 240px;
  width: 200px;
  font-family: inherit;
  padding: 5px 0;
  font-size: 1rem;
  background-color: var(--color-light-green);
  border-radius: 5px;
  transition: 0.2s all ease-in;
  text-align: center;
    color: var( --color-button-text);
  &:hover {
    background-color: var(--color-orange);
    color: var(--color-text-light);
    transition: 0.2s all ease-in;
  }
  @media (max-width: $medium_width) {
    margin-left: 15vw;
  }
  @media screen and (max-width: $mobile-width) {
    margin-bottom: 10px;
  }
  @media screen and (max-width: $tablet-width) {
    margin-left: 0;
  }
  @media screen and (max-width: $mobile-width) {
    width: 160px;
  }
}

.circle_container {
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  width: 100%;
  @media (max-width: $medium_width) {
    right: -10%;
  }
  @media screen and (max-width: $small_width) {
    right: -15%;
  }
  @media screen and (max-width: $tablet-width) {
    top: 0;
    right: 0;
    right: -15%;
    height: 750px;
  }
}

.circle {
  position: absolute;
  right: 0;
  background-image: url('/src/assets/img/circle.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 750px;
  height: 750px;
  animation: rounded 20s infinite linear;
  @media (max-width: $medium_width) {
    right: -10%;
  }
  @media screen and (max-width: $small_width) {
    right: -15%;
  }
  @media screen and (max-width: $tablet-width) {
    width: 750px;
    height: 750px;
    right: 15%;
    margin: 0 auto;
  }
  @media screen and (max-width: $mobile-width) {
    width: 500px;
    height: 500px;
    right: 0;
  }
}

.fruit_image {
  width: 550px;
  position: absolute;
  right: 5%;
  vertical-align: middle;
  animation: rotate-flower 45s infinite linear;
  @media (max-width: $medium_width) {
  }
  @media screen and (max-width: $small_width) {
    right: 10%;
  }
  @media screen and (max-width: $tablet-width) {
    vertical-align: baseline;
    position: relative;
    width: 80vw;
    margin: 0 auto;
    height: 460px;
  }
  @media screen and (max-width: $mobile-width) {
    height: 400px;
  }
}

@keyframes rounded {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-flower {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
  25% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
