@import "/src/App/styles/vars.scss";

.container {
    display: flex;
    flex: 1 1 auto;
    margin: 10px auto 0;
    text-align: center;
    justify-content: center;
    background-color: var(--color-background-container);
    @media screen and (max-width: $tablet-width) {
    flex-direction: column;
    }
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    &:first-child {
        margin-right: 30px;
        @media screen and (max-width: $tablet-width) {
            margin-right: 0px;
        }
    }
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url('/src/assets/img/404.png') center no-repeat;
    background-size: contain;
    margin-bottom: 10px;
    box-shadow: var(--shadow-light);
}

.title {
    margin-bottom: 20px;
}

.buttons_container {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    font-family: inherit;
    width: 250px;
    border: none;
    padding: 10px 10px;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s;
    color: var(--color-text-gray);
    &:hover {
        transform: scale(1.05);
        transition: 0.3s;
        color: var(--color-text-light);
        .icon {
           color:var( --color-blue);
        }
    }
    &::after {
        content: ">";
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 20px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 32px;
        font-size: 20px;
        width: 2px;
        background-color: var(--color-light-gray);
        height: 80%;
    }
}

.icon {
    margin-right: 30px;
    width: 15px;
    height: 15px;
}