@import '/src/App/styles/vars.scss';

.pagination {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  width: 1.5em;
  height: 1.5em;
  background-color: var(--color-text-light);
  border: 1px solid var(--color-light);
  border-radius: 3px;
  transition: all 0.2s ease;
  &:hover {
    background-color: var(--color-light-green);
  }

  @media #{$mq-xlarge} {
    width: 2.5em;
    height: 2.5em;
  }
}
.button_active {
  background-color: var(--color-light-green);
}
