$main-color-rose: #51983c;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 6rem;
  padding: 1rem 3rem;
  background-color: #64e44c;
  background: linear-gradient(to right, #78ffd6, #a8ff78);
}

ul {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

li {
  list-style-type: none;
}

.logo {
  width: 12rem;
  height: 5rem;
}

.active {
  font-weight: bold;
  color: orangered;
}

@media (width <= 500px) {
  ul {
    display: block;
  }
}
