$main-color-rose: #51983c;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 6rem;
  padding: 1rem 3rem;
  background-color: #64e44c;
  background: linear-gradient(to right, #78ffd6, #a8ff78);
  .button {
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 2px solid white;
  }
  .button_green {
    background-color: $main-color-rose;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0 20px #51983c;
      transition: 0.3s;
    }
  }
  .button_red {
    background-color: rgb(194, 38, 38);
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0 20px rgb(194, 38, 38);
      transition: 0.3s;
    }
  }
}

ul {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

li {
  list-style-type: none;
}

.logo {
  width: 12rem;
  height: 5rem;
}