@import "/src/App/styles/vars.scss";

.links {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  
  @media (max-width: $tablet-width) {
    display: none;
  }

  li {
    list-style-type: none;
  }
}


.header_icon {
  width: 30px;
  height: 30px;
}

.logout_button {
  border: none;
  background-color: inherit;
  &:hover {
    color: var(--color-orange);
  }
}

.icon_container{
  position: relative;
  text-align: center;
}

.count_label {
  padding: 3px;
  height: 20px;
  background-color: var(--color-orange);
  position: absolute;
  font-weight: 400;
  right: -7px;
  top: -10px;
  font-size: 12px;
  border-radius: 50%;
  color: var(--color-text-light);
  min-width: 20px;
}