* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root,
html,
body {
  width: 100%;
  height: 100%;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #232323;
  &:hover{
    color: var(--color-orange);
  }
}
