.label {
  display: flex;
  margin-right: 5px;
  align-items: center;
  margin-bottom: 10px;
  .label_block {
    display: inline-block;
    width: 80px;
  }
}

.input {
  padding-left: 5px;
  font-family: inherit;
  height: 27px;
  font-size: 18px;
  flex: 1 0 auto;
  margin-left: 5px;
  width: 20px;
  border-radius: 5px;
  border: 1px solid rgb(171, 171, 171);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.input[type='checkbox'] {
  width: initial;
  height: initial;
  position: absolute;
  left: 0;
  top: 3px;
  margin-top: 0;
  margin-left: 0;
}

.label:has(.input[type='checkbox']) {
  position: relative;
  padding-left: 20px;
  .label_block {
    display: inline-block;
    width: initial;
  }
}

