@import '/src/App/styles/vars.scss';

.container {

  @media #{$mq-mini} {
    width: 240px;
    font-size: 1em;
  }

  @media #{$mq-small} {
    width: 240px;
    font-size: 1em;
  }

  @media #{$mq-medium} {
    width: 240px;
    font-size: 1.1em;
  }

  @media #{$mq-large} {
    width: 240px;
    font-size: 1.1em;
  }

  @media #{$mq-xlarge} {
   width: 300px;
    font-size: 1.2em;
    input[type='checkbox'] {
      width: 20px;
      height: 20px;
    }
    .sidebar {
      :global(a.ps-menu-button) {
        height: 80px;
      }
      :global(span.ps-submenu-expand-icon span) {
        width: 20px;
        height: 20px;
      }
    }
  }

  @media #{$mq-xxlarge} {
    width: 500px;
    font-size: 1.4em;
    input[type='checkbox'] {
      width: 30px;
      height: 30px;
    }
    .sidebar {
      :global(a.ps-menu-button) {
        height: 100px;
      }
    }
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
  font-size: 1em;
}
.menu ul {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.search {
  position: relative;
  height: 2em;
  margin: 5px;
  input {
    font-size: 0.9em;
  }
}
.search_icon {
  position: absolute;
  top: 0.5em;
  right: 0.8em;
  opacity: 0.4;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
.sort {
  @media #{$mq-xlarge} {
    svg {
      width: 30px;
      height: 30px;
    }
   }
  @media #{$mq-xxlarge} {
    svg {
      width: 50px;
      height: 50px;
    }
   }

}
.sort input {
  font-size: 1em;
}
.input {
  width: 100%;
  height: 100%;
  padding: 5px 35px 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--color-light);
  &:focus {
    outline: none;
  }
  &:hover {
    border: 1px solid var(--color-middle-light);
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 0.8em;
  margin: 10px 0;
  padding: 0;
  font-size: 0.9em;
  list-style: none;
  li {
    display: flex;
    align-items: center;
    margin-left: 5px;
    column-gap: 5px;
    cursor: pointer;
  }
  input[type='checkbox'] {
    margin: 0;
    cursor: pointer;
  }
  span {
    width: 3em;
  }
  input[type='text'] {
    width: 80%;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid var(--color-light);
    &:focus {
      outline: none;
    }
  }
}
.price {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 0.2em;
}
.price_name {
  align-self: start;
  margin-bottom: 0.5em;
}
.price_item {
  align-self: start;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 5px;
  input {
    font-size: 1em;
    max-width: 55%;
  }
}

.text {
  display: flex;
  align-items: center;
}

.origin_list {
  padding-left: 10px;
}
.origin_list {
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
  .origin_header {
    margin-bottom: 0.3em;
  }
  .origin_label {
    margin-left: 0.2em;
  }
}

.reset {
  width: 96%;
  align-self: center;
  border-radius: 5px;
  height: 2em;
  border: none;
  background-color: var(--color-light-green);
  font-family: inherit;
  font-size: 1em;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    background-color: var(--color-banana);
  }
}
