.main_block {
  display: flex;
  justify-content: center;
  align-items: start;
  background: var(--color-background-container);
  flex-grow: 1;
  color: var(--color-dark);
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    background-color: var(--color-background-container);
    border-radius: 10px;
    padding: 20px 20px;
    margin: 20px 0;
    width: 70%;
    box-shadow:  var(--shadow-light);
    @media (max-width: 1100px) {
      width: 95%;
    }
    @media screen and (max-width: 768px) {
      width: 80%;
    }
    @media screen and (max-width: 560px) {
      width: 95%;
    }
    .button_login {
      transition: 0.2s all ease-in;
      a:hover {
        transition: 0.2s all ease-in;
        color: var(--color-orange);
      }
  
      * {
        border: none;
        background-color: inherit;
        color: var(--color-light-green);
        font-size: 18px;
      }
    }
  }
  
  .title {
    font-size: calc(27px + (28 - 27) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
    color: var(--color-light-green);
  }

  .info_container {
    flex: 1 0 47%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
    @media screen and (max-width: 768px) {
      flex: 1 0 100%;
    }
  }
  .info_container:first-child {
    border: 1px solid var(--color-light-green);
    border-radius: 5px;
    margin-right: 10px;
    padding: 15px;
    position: relative;
    @media screen and (max-width: 768px) {
      margin-right: 0px;
    }
  }

  .input_block {
    position: relative;
  }
  .address_container {
    border: 1px solid var(--color-light-green);
    border-radius: 5px;
    padding: 15px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .address_container:not(:last-child) {
    margin-bottom: 20px;
  }
  .address_title {
    position: absolute;
    padding: 0 5px;
    top: -10px;
    left: 30px;
    font-size: 14px;
    background-color: var(--color-background-container);
    color: var(--color-light-green);
  }
  .form {
    display: flex;
    flex-wrap: wrap;
  }
  .submit_button {
    padding: 5px;
    font-size: 18px;
    color: var(--color-text-light);
    border-radius: 5px;
    border: 0;
    margin-bottom: 20px;
    width: 100%;
    font-family: inherit;
    color: var(--color-dark);
    background-color: var(--color-light-green);
    transition: 0.2s all ease-in;
    &:hover {
      transition: 0.2s all ease-in;
      color: var(--color-text-light);;
      background-color: var(--color-orange);
    }
  }
  .text {
    display: inline-block;
    color: var(--color-text-gray);
    font-size: 16px;
    margin-right: 5px;
  }
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .checkbox_label {
    display: flex;
    flex-direction: row;
  }
  .checkbox_input {
    margin-right: 10px;
  }
}

