@import "/src/App/styles/vars.scss";

.animation_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.animation_block {
  position: absolute;
  display: block;
  animation: animate 25s linear infinite;
  bottom: -150px;
  opacity: 0.2;
  &:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    background: url('../assets/img/apple.png') center no-repeat;
    background-size: contain;
    animation-delay: 0s;
    @media screen and (max-width: $mobile-width) {
      width: 30px;
      height: 30px;
    }
  }
  &:nth-child(2) {
    left: 10%;
    width: 90px;
    height: 90px;
    animation-delay: 2s;
    animation-duration: 12s;
    background: url('../assets/img/aubergine.png') center no-repeat;
    background-size: contain;
    @media screen and (max-width: $mobile-width) {
      width: 40px;
      height: 40px;
    }
  }
  &:nth-child(3) {
    left: 70%;
    width: 70px;
    height: 70px;
    animation-delay: 4s;
    background: url('../assets/img/banana.png') center no-repeat;
    background-size: contain;
    @media screen and (max-width: $mobile-width) {
      width: 50px;
      height: 50px;
    }
  }
  &:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    background: url('../assets/img/broccoli.png') center no-repeat;
    background-size: contain;
  }
  &:nth-child(5) {
    left: 65%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    background: url('../assets/img/grapes.png') center no-repeat;
    background-size: contain;
    @media screen and (max-width: $mobile-width) {
      width: 50px;
      height: 50px;
    }
  }
  &:nth-child(6) {
    left: 75%;
    width: 90px;
    height: 90px;
    animation-delay: 5s;
    background: url('../assets/img/lemon.png') center no-repeat;
    background-size: contain;
    @media screen and (max-width: $mobile-width) {
      width: 25px;
      height: 25px;
    }
  }
  &:nth-child(7) {
    left: 19%;
    width: 110px;
    height: 110px;
    animation-delay: 7s;
    background: url('../assets/img/mango.png') center no-repeat;
    background-size: contain;
    @media screen and (max-width: $mobile-width) {
      width: 70px;
      height: 70px;
    }
  }
  &:nth-child(8) {
    left: 50%;
    width: 80px;
    height: 80px;
    animation-delay: 15s;
    animation-duration: 45s;
    background: url('../assets/img/pineapple.png') center no-repeat;
    background-size: contain;
  }
  &:nth-child(9) {
    left: 45%;
    width: 90px;
    height: 90px;
    animation-delay: 2s;
    animation-duration: 35s;
    background: url('../assets/img/tomato.png') center no-repeat;
    background-size: contain;
    @media screen and (max-width: $mobile-width) {
      width: 35px;
      height: 35px;
    }
  }
  &:nth-child(10) {
    left: 85%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
    animation-duration: 11s;
    background: url('../assets/img/berry.png') center no-repeat;
    background-size: contain;
    @media screen and (max-width: $mobile-width) {
      width: 70px;
      height: 70px;
    }
  }
}
  
@keyframes animate {
  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}