.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.container {
  display: flex;
  padding-top: 10px;
  position: relative;
  margin: 0 0 10px 0;
  .password_button {
    position: absolute;
    top: 6px;
    right: 8px;
    padding: 5px;
    opacity: 0.6;
    background: inherit;
    border: 0;
    width: 35px;
    height: 20px;
    background-position: center no-repeat;
    margin-bottom: 0px;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      opacity: 1;
    }
  }
}

.input {
  padding-left: 5px;
  font-family: inherit;
  height: 27px;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid var(--color-text-gray);
  &:focus {
    border: 2px solid var(--color-light-green);
    outline: none;
  }
}

.password_icon {
  width: 25px;
  height: 25px;
}
