@import '/src/App/styles/vars.scss';

.loader {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 23px;
  height: 23px;
  align-items: center;
  animation: rotate 1s linear infinite both;
  @media #{$mq-xlarge} {
    width: 1.5em;
    height: 1.5em;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
