@import '/src/App/styles/vars.scss';

.card {
  width: 100%;
  height: 100%;
  min-height: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  // font-size: 1.2rem;
  row-gap: 1rem;
  padding: 1rem;
  border-radius: 1.5rem;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: var(--shadow-light);
  }
}
.image {
  max-width: 150px;
  max-height: 150px;
  height: 100%;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
  @media #{$mq-medium} {
    // font-size: $base-font-size*1.05;
    // line-height: $base-line-height*1.1;
  }
  
  @media #{$mq-large} {

  }
  
  @media #{$mq-xlarge} {
    max-width: 250px;
    max-height: 250px;
  }
  
  @media #{$mq-xxlarge} {
    max-width: 350px;
    max-height: 350px;
  }
}
.description {
  align-self: end;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.name {
  white-space: nowrap;
}
.tm {
  margin-bottom: 10px;
}
.product_info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.info {
  font-size: 0.7em;
}
.prices_container {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.price_old {
  align-self: start;
  text-decoration: line-through;
}
.price_new {
  color: var(--color-error);
}
