.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  max-height: 700px;
  height: 80%;
}

.swiper_slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_top {
  height: 80%;
  width: 100%;
}

.swiper_bottom {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.bottom_slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  cursor: pointer;
}
.top_img {
  padding: 2rem;
  cursor: zoom-in;
}
.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
}
@media (max-width: 767.98px) {
  .top_img {
    padding: 2rem;
    width: 80%;
    height: 80%;
    cursor: zoom-in;
  }
}