@import "/src/App/styles/vars.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 6rem;
  padding: 1rem 3rem;
  background-color: var(--color-light-green);
  background: var(--gradient-ligth-green);
}

.links {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  
  @media (max-width: $tablet-width) {
    display: none;
  }

  li {
    list-style-type: none;
  }
}

.logo {
  width: 12rem;
  height: 5rem;
}

.active {
  font-weight: bold;
  color: var(--color-orange);
}
