.label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 10px;
  position: relative;
}

.container {
  display: flex;
  padding-top: 10px;
  position: relative;

  .password_button {
    position: absolute;
    top: 12px;
    right: 5px;
    padding: 5px;
    opacity: 0.6;
    border: 0;
    width: 35px;
    height: 20px;
    background: url('/src/assets/img/i-eye-open-black.png');
    background-position: center no-repeat;
    margin-bottom: 0px;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      opacity: 1;
    }

  }

  .password_button__visible {
    background: url('/src/assets/img/i-eye-open-black.png') center no-repeat;
    transition: 0.3s;
  }

  .password_button__secure {
    background: url('/src/assets/img/i-eye-close-black.png') center no-repeat;
    transition: 0.3s;
  }
  
}

.input {
  padding-left: 5px;
  font-family: inherit;
  height: 27px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(171, 171, 171);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
