.label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 10px;
  position: relative;
}

.container {
  display: flex;
  padding-top: 10px;
  position: relative;

 .password_button {
    position: absolute;
    top: 12px;
    right: 5px;
    padding: 5px;
    opacity: 0.6;
    border: 0;
    width: 40px;
    height: 25px;
    background: url('/src/assets/img/i-eye-open-black.png') center no-repeat;
    margin-bottom: 0px;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      opacity: 1;
    }
  }

  .password_button__visible {
    background: url('/src/assets/img/i-eye-open-black.png') center no-repeat;
    transition: 0.3s;
  }

  .password_button__secure {
    background: url('/src/assets/img/i-eye-close-black.png') center no-repeat;
    transition: 0.3s;
  }
}

.input {
  width: 100%;
  font-size: 20px;
}