$main_block-background-color: #f0f3f8;
$container-background-color: #ffffff;
$main-color-rose: #51983c;

.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 1rem;
  background: $main_block-background-color;
}

.container {
  background-color: $container-background-color;
  border-radius: 1rem;
  padding: 1rem 0.7rem;
  margin: 2rem 0;
  width: 100%;
  max-width: 500px;
}

.title {
  font-size: calc(27px + (28 - 27) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
  color: $main-color-rose;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.login_btn {
  padding: 5px;
  font-size: 18px;
  color: $container-background-color;
  border-radius: 5px;
  border: 0;
  margin-bottom: 10px;
  width: 100%;
  background-color: var(--color-blue);
}

.signup_btn {
  border: none;
  background-color: inherit;
  color: $main-color-rose;
  font-size: 18px;
}

.text {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}

.error {
  color: $main-color-rose;
  font-size: 16px;
}

.error::before {
  display: inline;
  content: '⚠ ';
}

.button_registration {
    
  * {
    border: none;
    background-color: inherit;
    color: $main-color-rose;
    font-size: 18px;
  }

}