@import "/src/App/styles/vars.scss";

.main {
  flex-grow: 1;
  padding: 1rem;
  height: 100%;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (max-width: $small-width) {
    max-width: 97%;
  }
}

.clear_button {
  position: absolute;
  top: -5px;
  right: 0;
  background-color: var(--color-light-green);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-family: inherit;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  .button_icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    @media screen and (max-width: $tablet-width) {
      width: 15px;
      height: 15px;
    }
  }
  &:hover {
    background-color: var(--color-orange);
    color: var(--color-text-light);
  }
  @media screen and (max-width: $tablet-width) {
    font-size: 0.6rem;
  }
}

.title_container {
  display: flex;
  width: 110px;
  justify-content: space-between;
  align-self: center;
  .title_icon {
    width: 20px;
    height: 20px;
  }
}

.page_title {
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 5px;
  border-bottom: 1px solid var(--color-light-gray);
  color: var(--color-text-gray);
  box-shadow: inset -1px 2px 2px rgba(0,0,0,0.15), 
  inset -1px 0px 2px rgba(0,0,0,0.15);
  box-shadow: inset 0px 2px 2px rgba(0,0,0,0.15), 
  inset 0px -2px 2px rgba(0,0,0,0.15);
  align-items: center;
  @media screen and (max-width: $tablet-width) {
    height: 30px;
    font-size: 0.6rem;
  }
}

.subtotal {
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px 0;
  border-top: 2px solid var(--color-light-gray); 
  @media screen and (max-width: $tablet-width) {
    font-size: 0.6rem;
    padding: 10px 5px 0;
  }
}

.prices_container {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: center;
  font-weight: 400;
  text-align: center;
  @media screen and (max-width: $tablet-width) {
    width: 100px;
  }
  @media screen and (max-width: $mobile-width) {
    width: 70px;
  }
}

.price_old {
  align-self: start;
  width: 30%;
  text-decoration: line-through;
  @media screen and (max-width: $tablet-width) {
    font-size: 0.9rem;
  }
  @media screen and (max-width: $tablet-width) {
    font-size: 0.6rem;
  }
}

.price_new {
  font-size: 24px;
  color: var(--color-error);
  margin-right: 3px;
  @media screen and (max-width: $tablet-width) {
    font-size: 1rem;
  }
  @media screen and (max-width: $tablet-width) {
    font-size: 0.8rem;
  }
}

.header_title {
  font-size: 0.8rem;
  width: 150px;
  &:not(:first-child) {
    text-align: center;
  }
  @media screen and (max-width: $tablet-width) {
    width: 100px;
    font-size: 0.6rem;
  }
  @media screen and (max-width: $mobile-width) {
    width: 70px;
  }
}

.header_title:first-child {
  width: 250px;
  @media screen and (max-width: $mobile-width) {
    width: 140px;
  }
}

.item {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  row-gap: 1rem;
  list-style-type: none;
  position: relative;
  text-align: center;
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-light-gray);
  }
  @media screen and (max-width: $tablet-width) {
    font-size: 1rem;
    min-height: 50px;
  }
  @media screen and (max-width: $mobile-width) {
    min-height: 40px;
  }
}

.promocode_block {
  display: flex;
  justify-content: center;
  height: 50px;
  box-shadow: inset -1px 2px 2px rgba(0,0,0,0.15), 
  inset -1px 0px 2px rgba(0,0,0,0.15);
  box-shadow: inset 0px 2px 2px rgba(0,0,0,0.15), 
  inset 0px -2px 2px rgba(0,0,0,0.15);
  background-color: #ebe9e921;
  align-items: center;
  padding: 0 5px;
  @media screen and (max-width: $tablet-width) {
    height: 40px;
  }
}

.input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--color-light-gray);
  margin-right: 10px;
  padding-left: 5px;
  font-size: 20px;
  &:focus {
    animation: blink .5s 3;
    border: 2px solid var(--color-light-green);
    outline: none;
  }
  @media screen and (max-width: $tablet-width) {
    font-size: 0.8rem;
    height: 20px;
    margin-right: 5px;
  }
  @media screen and (max-width: $mobile-width) {
    flex-grow: 1;
  }
}

@keyframes blink {
  50% {
    border-color: var(--color-background-main-block);
  }
}

.input_button {
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  background-color: var(--color-light-green);
  transition: all 0.2s ease;
  font-family: inherit;
  height: 30px;
  padding: 0 10px;
  &:hover {
    background-color: var(--color-orange);
    color: var(--color-text-light);
  }
  @media screen and (max-width: $tablet-width) {
    font-size: 0.6rem;
    padding: 0 5px;
    height: 20px;
  }
}

.block {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 390px;
  height: 90%;
  @media screen and (max-width: $tablet-width) {
    width: 100%;
  }
}

.modal_text {
  text-align: center;
  font-size: 22px;
}

.modal_buttons_container {
  width: 100%;
  justify-content: space-around;
  display: flex;
  margin-bottom: 30px;
  @media screen and (max-height: 490px) {
    margin: 40px 0;
  }
}

.modal_button {
  font-family: inherit;
  border: none;
  padding: 5px 0;
  background-color: var(--color-orange);
  font-size: 22px;
  border-radius: 5px;
  width: 80px;
  transition: all 0.2s ease;
  &:hover {
    background-color: var(--color-light-green);
    color: var(--color-text-light);
  }
}

.image {
  object-fit: contain;
  width: 100%;
  height: 60%;
  @media screen and (max-height: 620px) {
    width: 50%;
    height: 50%;
  }

  @media screen and (max-height: 490px) {
    display: none;
  }
}