.main {
  flex-grow: 1;
  padding: 1rem;
  height: 100%;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.page_title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid var(--color-light-gray);
  color: var(--color-text-gray);
  box-shadow: inset -1px 2px 2px rgba(0,0,0,0.15), 
  inset -1px 0px 2px rgba(0,0,0,0.15);
  box-shadow: inset 0px 2px 2px rgba(0,0,0,0.15), 
  inset 0px -2px 2px rgba(0,0,0,0.15);
  align-items: center;
}

.subtotal {
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 20px 0;
  border-top: 2px solid var(--color-light-gray);
}

.prices_container {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: center;
  font-weight: 400;
  text-align: center;
}

.price_old {
  align-self: start;
  width: 30%;
  text-decoration: line-through;
}

.price_new {
  font-size: 24px;
  color: var(--color-error);
  margin-right: 3px;
}


.header_title {
  font-size: 0.8rem;
  width: 150px;
  &:not(:first-child) {
    text-align: center;
  }
}

.header_title:first-child {
  width: 200px;
}

.item {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  row-gap: 1rem;
  list-style-type: none;
  position: relative;
  text-align: center;
  padding: 0 20px;
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-light-gray);
  }
}

.promocode_block {
  display: flex;
  justify-content: center;
  height: 50px;
  box-shadow: inset -1px 2px 2px rgba(0,0,0,0.15), 
  inset -1px 0px 2px rgba(0,0,0,0.15);
  box-shadow: inset 0px 2px 2px rgba(0,0,0,0.15), 
  inset 0px -2px 2px rgba(0,0,0,0.15);
  background-color: #ebe9e921;
  align-items: center;
}

.input {
  height: 30px;
  width: 240px;
  border-radius: 5px;
  border: 1px solid var(--color-light-gray);
  margin-right: 10px;
  padding-left: 5px;
  font-size: 20px;
  &:focus {
    animation: blink .5s 3;
    border: 2px solid var(--color-light-green);
    outline: none;
  }
}

@keyframes blink {
  50% {
    border-color: var(--color-background-main-block);
  }
}

.input_button {
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  background-color: var(--color-light-green);
  transition: all 0.2s ease;
  font-family: inherit;
  height: 30px;
  padding: 0 10px;
  &:hover {
    background-color: var(--color-orange);
    color: var(--color-text-light);
  }
}