.ant_picker {
    width: 100%;
    height: 28px;
    font-family: inherit;
    margin-bottom: 20px;
    border-radius: 0;
    border: 1px solid var(--color-light-green);
}
  
.label {
  margin-bottom: 5px;
}