.button {
  width: 50px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  background-color: var(--color-light);
  box-shadow: var(--shadow-small);
  transition: all 0.2s ease;
  &:hover {
    background-color: var(--color-light-green);
  }
}

.trash {
  width: 50%;
  height: 50%;
}