.button {
  width: 100%;
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  font-size: inherit;
  white-space: nowrap;
  height: 100%;
  border: none;
  border-radius: 0.2rem;
  box-shadow: var(--shadow-small);
  background-color: var(--color-light-green);
  transition: 0.2s all ease-in;
  &:hover {
    background-color: var( --color-banana);
  }
}

.button_active {
  color: var(--color-dark);
  background-color: var( --color-banana);
  &:hover {
    color: var(--color-dark);
    background-color: var( --color-banana);
  }
}