.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.colors {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  background-color: rgb(237, 237, 237);
  li {
    width: 100%;
    height: 100%;
  }
  &_one {
    background-color: #fd682d;
  }
  &_two {
    background-color: #fdb024;
  }
  &_three {
    background-color: #f5f0ec;
  }
  &_four {
    background-color: #019362;
  }
}
.page_content {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  border-radius: 3rem;
  overflow: hidden;
  background-color: #fcf7f3;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 0.3rem;
  position: relative;
  background: linear-gradient(to right, #019362, #fd682d, #fd682d, #fdb024);
}
.content {
  height: 100%;
  width: 100%;
  padding-top: 1.5rem;
  background: #f5f0ec;
  border-radius: 2.8rem;
  overflow: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  padding: 0 6rem;
}
.nav {
  height: 2rem;
  display: flex;
}
.links {
  display: flex;
  font-size: 18px;
  column-gap: 3rem;
  li {
    &:hover {
      a {
        color: #019362;
      }
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .message {
    width: 100%;
    &_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 8rem;
      row-gap: 1rem;
      
    }
    .error {
      font-size: 12rem;
      line-height: 9rem;
    }
    .title {
      font-size: 36px;
    }
  }
  .image {
    width: 100%;
    background-image: url(../../../../assets/img/404.png);
    background-repeat: no-repeat;
  }
}
