.container {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 5px;
  width: 100%;
}
.button_container {
  width: 100%;
}
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: var(--shadow-small);
  background-color: var(--color-banana);
  transition: 0.2s all ease-in;
  &:hover {
    background-color: var(--color-light-green);
  }
}
.counter_container{
  display: flex;
  justify-content: center;
  column-gap: 5px;
}
.counter {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-dark);
}
.count_button {
  font-size: inherit;
  width: 38px;
  border: none;
  border-radius: 0.2rem;
  transition: 0.2s all ease-in;
  &:hover {
    background-color: var(--color-light-green);
  }
}
