@import "/src/App/styles/vars.scss";

.bm-burger-button {
  display: none;
  @media screen and (max-width: $tablet-width) {
      display: inline-block;
      position: absolute;
  width: 40px;
  height: 40px;
  right: 42px;
  top: 30px;
  }
}
  
.bm-burger-bars {
  background: var(--color-dark-green);
}

.bm-burger-bars-hover {
  background: var(--color-background-orange);
}

.bm-cross-button {
  height: 50px;
  width: 50px;
}

.bm-icon {
  height: 70px;
  width: 70px;
}

.bm-cross {
  height: 50px;
  width: 50px;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: var(--gradient-ligth-green);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 20px;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.active {
  font-weight: bold;
  color: var(--color-orange);
}