.label {
    display: flex;
    margin-right: 5px;
    align-items: center;
    margin-bottom: 10px;
    font-family: inherit;

    .label_block {
        display: inline-block;
        width: 80px;
    }
    
}
  
.select {
    font-size: 14px;
    flex: 1 0 auto;
    margin-left: 5px;
    min-width: 0;
    width: 10px;
    font-family: inherit;
    height: 27px;
    border-radius: 5px;
    border: 1px solid rgb(171, 171, 171);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
}

.option {
    display: inline-block;
    min-width: 0;
    font-family: inherit;
}
