@import "/src/App/styles/vars.scss";

.article {
    padding-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    &:first-child {
        margin-right: 30px;
    }
    @media screen and (max-width: $tablet-width) {
        padding-top: 0px;
        align-items: center;
    }
}

.title {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.edit_button {
    margin-left: 50px;
    background-color: var(--color-light-green);
    border: 2px solid var(--color-light-green);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: var(--color-dark);
    font-family: inherit;
    border-radius: 5px;
    transition: 0.3s;
    &:hover {
        background-color: var(--color-orange);
        border: 2px solid var(--color-orange);
        color: var(--color-text-light);
        transition: 0.3s;
    }
    
}

.edit_button_icon {
    margin-right: 5px;
}

.add_button {
    background-color: var(--color-background-main-block);
    border: 2px solid var(--color-background-main-block);
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.add_button_icon {
    margin-right: 100px;
    width: 20px;
    height: 20px;
}

.icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.info_block {
    margin: 0 5px 10px 0;
    position: relative;
    display: block;
    flex: 1 0 45%;
}

.label {
    margin-bottom: 5px;
    @media screen and (max-width: $tablet-width) {
        font-size: 12px;
    }
}

.text{
    padding: 5px 0 5px 5px;
    border: 2px solid var(--color-background-main-block);
    height: 30px;
    word-wrap: unset;
    @media screen and (max-width: $tablet-width) {
        font-size: 14px;
    }
}

.country {
    padding: 8px 0 5px 5px;
    font-size: 11px;
}

.input{
    padding: 5px 0 5px 5px;
    border: 2px solid var(--color-light-green);
    font-family: inherit;
    font-size: inherit;
    height: 30px;
    width: 151px;
    background-color: var(--color-background-main-block);
    animation: blink .5s 3;
    &:focus {
        border: 2px solid var(--color-light-green);
        outline: none;
    }
    @media screen and (max-width: $tablet-width) {
        font-size: 14px;
    }
}

@keyframes blink {
    50% {
      border-color: var(--color-background-main-block);
    }
}

.edit_buttons_container {
    display: flex;
    margin-bottom: 15px;
    .edit_button {
        margin: 0 10px 0 0;
    }
}

.info_blocks_container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px 0px;
    position: relative;
    margin: 0 30px 30px 0;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: var(--shadow-light);
    transition: 0.3s;
    &:hover {
        box-shadow: var(--shadow-light);
        transform: scale(1.05);
        transition: 0.3s;
    }
    @media screen and (max-width: $tablet-width) {
        margin: 0 0 20px 0;
        &:hover {
            box-shadow: var(--shadow-light);
            transform: none;
            transition: 0.3s;
        }
    }
}

.container_subtitle {
    position: absolute;
    top: -10px;
    left: 5px;
    color: var(--color-green);
    background-color: var(--color-background-container);
    padding: 0 5px;
    font-size: 12px;
    &.default {
        color: var(--color-blue);
    }
}

.input_block {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}

.input[type='checkbox'] {
    height: initial;
    width: initial;
    position: absolute;
    left: 0;
    top: 3px;
    margin-top: 0;
}

.info_block:has(.input[type='checkbox']) > .label {
    padding-left: 20px;
}

.modal {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .input:not([type='checkbox']) {
        width: 95%;
    }
  
    .info_blocks_container {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 10px 0px;
        position: relative;
        border: none;
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 30px;
        width: 100%;
        @media screen and (max-width: $tablet-width) {
            width: 100%;
            margin: 10px 0 0 0;
        }
    }

    .info_block {
        margin: 0 5px 40px 0;
        position: relative;
        display: block;
        flex: 1 0 45%;
    }
  }

  .modal_header {
    width: 100%;
    padding: 1rem 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal_button {
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 2rem;
    &:hover {
      color: var(--color-orange);
    }
  }
.addresses_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: $tablet-width) {
        justify-content: center;
    }
}

.error {
  color: var(--color-orange);
  font-size: 14px;
  position: absolute;
  top: 55px;
  @media screen and (max-width: $tablet-width) {
    font-size: 12px;
  }
}
    
.error::before {
  display: inline;
  content: '⚠ ';
}