@import "/src/App/styles/vars.scss";

.product_block {
  display: flex;
  align-items: center;
  width: 250px;
  @media screen and (max-width: $mobile-width) {
    width: 140px;
    font-size: 0.6rem;
  }
}
  
.image {
  max-width: 50px;
  max-height: 50px;
  height: 100%;
  margin-right: 20px;
  @media screen and (max-width: $tablet-width) {
    margin-right: 10px;
  }
  @media screen and (max-width: $mobile-width) {
    margin-right: 5px;
  }
}

.name {
  text-align: start;
  @media screen and (max-width: $mobile-width) {
    width: 70px;
  }
}

.quantity{
  margin: 0 10px;
  display: inline-block;
  width: 30px;
  @media screen and (max-width: $tablet-width) {
    width: 20px;
    margin: 0 5px;
  }
  @media screen and (max-width: $mobile-width) {
    width: 20px;
  }

}

.quantity_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  @media screen and (max-width: $tablet-width) {
    font-size: 0.8rem;
    width: 100px;
  }
  @media screen and (max-width: $mobile-width) {
    width: 50px;
    font-size: 0.6rem;
  }
}

.quantity_button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: (--color-light-gray);
  @media screen and (max-width: $tablet-width) {
    width: 15px;
    height: 15px;
  }
}

.prices_container {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media screen and (max-width: $tablet-width) {
    width: 100px;
  }
  @media screen and (max-width: $mobile-width) {
    width: 70px;
  }
  .price {
    text-decoration: line-through;
    @media screen and (max-width: $tablet-width) {
      font-size: 0.7rem;
    }
    @media screen and (max-width: $mobile-width) {
      font-size: 0.6rem;
    }
  }
}

.price_old {
  align-self: start;
  width: 30%;
  text-decoration: line-through;
  @media screen and (max-width: $tablet-width) {
    font-size: 0.7rem;
  }
  @media screen and (max-width: $mobile-width) {
    font-size: 0.6rem;
  }
}

.price_new {
  font-size: 24px;
  color: var(--color-error);
  margin-right: 3px;
  @media screen and (max-width: $tablet-width) {
    font-size: 0.8rem;
  }
  @media screen and (max-width: $mobile-width) {
    font-size: 0.6rem;
  }
}

.delete_button {
  background-color: inherit;
  border: none;
  &:disabled {
    cursor: not-allowed;
    .delete_icon {
      color: var(--color-light-gray);
    }
  }
}

.delete_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: absolute;
  right: 0;
  top: 2px;
  color: var(--color-error);
  &:hover {
    color: var(--color-orange);
  }
  @media screen and (max-width: $tablet-width) {
    width: 15px;
    height: 15px;
  }
}
    