.product_block {
  display: flex;
  align-items: center;
  width: 200px;
}
  
.image {
  max-width: 50px;
  max-height: 50px;
  height: 100%;
  margin-right: 20px;
}

.name {
  white-space: nowrap;
}

.quantity{
  margin: 0 10px;
  display: inline-block;
  width: 30px;
}

.quantity_block {
  display: flex;
  justify-content: center;
  width: 100px;
}

.quantity_button {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: (--color-light-gray);
}

.prices_container {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
}

.price_old {
  align-self: start;
  text-decoration: line-through;
}

.price_new {
  font-size: 24px;
  color: var(--color-error);
  margin-right: 3px;
}

.close_button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: absolute;
  right: 0;
  top: 2px;
  color: var(--color-error);
  &:hover {
    color: var(--color-orange);
  }
}
    